<p>Order List</p>
<div class="card xl:flex xl:justify-content-center w-6">
  <p-orderList
    [value]="products"
    [listStyle]="{ 'max-height': '30rem' }"
    header="List of Products"
    filterBy="name"
    filterPlaceholder="Filter by name"
    [dragdrop]="true"
  >
    <ng-template let-product pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/product/{{
            product.image
          }}"
          [alt]="product.name"
          class="w-4rem shadow-2 flex-shrink-0 border-round"
        />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ product.name }}</span>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <span>{{ product.category }}</span>
          </div>
        </div>
        <span class="font-bold text-900">
          {{ "$" + product.price }}
        </span>
      </div>
    </ng-template>
  </p-orderList>
</div>

<p>Org Chart</p>
<p-organizationChart [value]="data" [collapsible]="true" />

<p>Paginator</p>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="120"
  [rowsPerPageOptions]="[10, 20, 30]"
/>

  
