<p>Carousel</p>
<div class="card w-6 mx-auto">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img
              src="https://primefaces.org/cdn/primeng/images/demo/product/{{
                product.image
              }}"
              [alt]="product.name"
              class="w-full border-round"
            />
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
              class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
            />
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ product.name }}
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-xl">
            {{ "$" + product.price }}
          </div>
          <span>
            <p-button
              icon="pi pi-heart"
              severity="secondary"
              [outlined]="true"
            />
            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
          </span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<p>Galleria</p>
<div class="card">
  <p-galleria
    [value]="images"
    [responsiveOptions]="responsiveOptions2"
    [containerStyle]="{ 'max-width': '640px' }"
    [numVisible]="5"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.itemImageSrc" style="width: 100%" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.thumbnailImageSrc" />
      </div>
    </ng-template>
  </p-galleria>
</div>

<p>Image</p>
<div class="card flex justify-content-center">
  <p-image
    src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
    alt="Image"
    width="250"
  />
</div>
