<p>timeline</p>
<div class="card flex flex-wrap gap-6">
  <p-timeline [value]="events" class="w-full md:w-20rem">
    <ng-template pTemplate="content" let-event>
      {{ event.status }}
    </ng-template>
  </p-timeline>
  <p-timeline [value]="events" class="w-full md:w-20rem" align="right">
    <ng-template pTemplate="content" let-event>
      {{ event.status }}
    </ng-template>
  </p-timeline>
  <p-timeline [value]="events" class="w-full md:w-20rem" align="alternate">
    <ng-template pTemplate="content" let-event>
      {{ event.status }}
    </ng-template>
  </p-timeline>
</div>

<div class="card">
  <p-timeline [value]="events">
    <ng-template pTemplate="content" let-event>
      <small class="p-text-secondary">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      {{ event.status }}
    </ng-template>
  </p-timeline>
</div>

<p>Tree</p>
<div class="card flex justify-content-center">
  <p-tree
    class="w-full md:w-30rem"
    [value]="files"
    [draggableNodes]="true"
    [droppableNodes]="true"
    draggableScope="self"
    droppableScope="self"
  />
</div>
