<!-- Navbar -->
<nav class="navbarcls shadow-2 sticky top-0 z-5">
  <div
    class="p-3 flex justify-content-between align-items-center"
    style="max-width: 1200px; margin: 0 auto"
  >
    <!-- Logo -->
    <a routerLink="/" class="text-2xl font-bold no-underline">Learn PrimeNG</a>

    <!-- Navbar Links -->
    <div class="flex gap-3">
      <a
        routerLink="/"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-gray-300 no-underline hoverBg hover:text-white px-3 py-2 border-round transition-colors transition-duration-300"
        >Form</a
      >
      <a
        routerLink="/button"
        routerLinkActive=" selected"
        class="text-gray-300 no-underline hoverBg hover:text-white px-3 py-2 border-round transition-colors transition-duration-300"
        >Button & Data</a
      >
      <a
        routerLink="/paneloverlay"
        routerLinkActive="selected"
        class="text-gray-300 no-underline hoverBg hover:text-white px-3 py-2 border-round transition-colors transition-duration-300"
        >Panel & Overlay</a
      >
      <a
        routerLink="/menu"
        routerLinkActive="selected"
        class="text-gray-300 no-underline hoverBg hover:text-white px-3 py-2 border-round transition-colors transition-duration-300"
        >Menu</a
      >
      <a
        routerLink="/overlay"
        routerLinkActive="selected"
        class="text-gray-300 no-underline hoverBg hover:text-white px-3 py-2 border-round transition-colors transition-duration-300"
        >Overlay</a
      >
    </div>
  </div>
</nav>
